<div fxLayout="row">
    <md-toolbar color="primary">
        <md-icon class="md-18" style="margin-right: 10px;">add_shopping_cart</md-icon>

        <span [routerLink]="['/home']">Dashboard - v1.0</span>

        <span fxFlex></span>

        <button md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
          </button>
    </md-toolbar>
    <md-menu x-position="before" #menu="mdMenu" [overlapTrigger]="false">
        <button md-menu-item>About</button>
    </md-menu>
</div>

<router-outlet></router-outlet>